<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/tienda.css">
    <link rel="icon" type="image/png" href="static/icon1.png">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    title= title
  </head>
  <body>
      <p id="title"><i class='fas fa-backward'></i> TIENDALANDIA <i class='fas fa-forward'></i><p>
      <div>
            <img class="box1" id="image" src=#{img} width="300px" height="240px">
            <h1>#{name} - Precio: #{price} € <button class ="button" type="button" onclick="window.location.href='/tienda.html'">Add</button></h1>
            <h2>stock: #{stock}</h2>
      </div>
  </body>
</html>
